<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIZZERIA</title>
</head>
<body>
    
    <div class="navbar navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="">
                    Pizzeria
                </a>
           
            <ul class="nav">
                <li class="active">
                    <a href="">
                        <i class="icon-home icon-white"></i>
                        Ingredientes
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-user icon-white"></i>
                        Salsas
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-user icon-white"></i>
                        Quesos
                    </a>
                </li>
            </ul>
        </div>

       </div>
    </div>

    <div class="container">
        <div class="row">

           {%block container %} 

           {% endblock %} 

        </div>
    </div>

</body>
</html>